.main-container {
    margin-top: 65px;
    border: 1px solid #dedede;
    border-radius: 5px;
    height: calc(100vh - 104px);
    margin-bottom: 2px;
}

footer {
    background: black;
    height: 33px;
    padding-top: 2px;  
}

footer span {
    vertical-align: middle;
    color: #FFF;
}

.header-profile-icon {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.logout-container {
    padding: 10px;
}